{
"name": "nameofdevice",
"device_id": "idofdevice",
"wifi": {
"ssid": "YOURSSID",
"password": "YOURWIFIPASS"
},
"mqtt": {
"host": "your.mqtt.server",
"port": 1883,
"auth": false
},
"ota": {
"enabled": true
},
"settings": {
    "NEOPIXEL_MATRIX_NUM_ROWS": 8,
    "NEOPIXEL_MATRIX_NUM_COLUMNS": 8,
    "PIN_NEOPIXEL_MATRIX": "D2",
    "NEO_MATRIX_CONFIGURATION": "NEO_MATRIX_BOTTOM | NEO_MATRIX_RIGHT | NEO_MATRIX_ROWS | NEO_MATRIX_ZIGZAG",
    "NEO_PERMUTATION": "NEO_GRB",
    "NEO_SPEED": "NEO_KHZ800"
  }
}